/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}

body{
  background-color: greenyellow;
  font-family: Arial, Helvetica, sans-serif;
  padding:5%;
}

body section{
  border: 3px solid green;
  
}

section section{
  padding: 5%;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* .hidden{
	display: none;
} */

h3{
  text-decoration: underline;
}
h4{
  font-weight: 700;
}